<!DOCTYPE html>
<html ng-app='mainApp'>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <script type="text/javascript" src="./javascripts/crypto-js.js"></script>
	<script src="/seneca/init.js"></script>
	<script src="/javascripts/jquery-2.1.3.js"></script>
	<script src="/javascripts/tether.js"></script>
	<script src="/javascripts/bootstrap.js"></script>
	<script src="/javascripts/angular.min.js"></script>
	<script src="/javascripts/ui-bootstrap-tpls-1.3.1.min.js"></script>
	<script src="/javascripts/mainController.js"></script>
  </head>
  <body>
  <div class="container-fluid">
    <h1>My <%= title %> App with Seneca & Angular with Authentication</h1>
    <p>Welcome to <%= title %> template</p>
	 <div ng-controller='mainCtrl' class="well">

	 <div class="form-group">
		<label for="nameInput">Name:</label><input class="form-control" type="text" id="nameInput" ng-model="nameInput" placeholder="name"/>
		<h3>{{greetings}}</h3>
		<h3 ng-show="randomNumber">This is your lucky number {{randomNumber}}, have a nice day!</h3>
		 <input class="btn btn-default" type="button" ng-click="greetUser()" value="Greetings"/>
		 <input class="btn btn-default" type="button" ng-click="generateRandomNumber()" value="Feeling Lucky?"/>
	 </div>
		 
	<div class="well" ng-hide="user">
	 <form class="form-inline" ng-submit="login()">
	  <div class="form-group">
		<label class="sr-only" for="username">username</label>
		<input type="text" class="form-control" ng-model="username" placeholder="Username">
	  </div>
	  <div class="form-group">
		<label class="sr-only" for="password">Password</label>
		<input type="password" class="form-control" ng-model="password" placeholder="Password">
	  </div>
	  <button type="submit" class="btn btn-default">Sign in</button>
	 </form>
 	</div>
		 
	<div class="well" ng-show="user">
	 <form class="form-inline" method="POST", action="/auth/logout">
	  <div class="form-group">
	  <p>Welcome {{user.nick}}</p>
	  <button type="submit" class="btn btn-default">Logout</button>
		 </div>
	 </form>
 	</div>
		 
	 <div class="well">
	 <form class="form-inline" ng-submit="register()">
	 <small>Once you have registered, you will be logged in automatically and your authentication details will be saved on memory.</small>
	 <p><small>You can't register a same username twice as it's unique.</small></p>
	  <div class="form-group">
		<label class="sr-only" for="username">username</label>
		<input type="text" class="form-control" ng-model="registerUsername" placeholder="Username">
	  </div>
	  <div class="form-group {{error['password'].class}}">
		<label class="form-control-label sr-only" for="password">Password</label>
		<input type="password" class="form-control form-control-danger" ng-model="registerPassword" placeholder="Password" tooltip-placement="right" uib-tooltip="{{error['password'].text}}">
	  </div>
	  <button type="submit" class="btn btn-default">Register</button>
	 </form>
	 </div>
 </div>
 </div>
  </body>
</html>
